@charset "UTF-8";
/* *****************************************************************
    POLICE
***************************************************************** */
@font-face {
  font-family: "dyslexic";
  src: url(./resources/fonts/open-dyslexic.woff) format("woff");
}
/* *****************************************************************
    COULEURS PRINCIPALES
***************************************************************** */
:root {
  --border-color: rgba(88, 53, 9, 1);
  --text-dark: rgba(51, 51, 51, 1);
  --text-light: rgba(221, 221, 221, 1);
  --text-link: rgba(61, 82, 196, 1);
  --burger-bg: rgba(255, 241, 198, 1);
  --burger-btn: rgba(51, 51, 51, 1);
  --burger-item: rgba(121, 2, 2, 1);
  --burger-item-shadow: rgba(121, 2, 2, 0.4);
  --card-bg: rgba(223, 225, 142, 1);
  --common-bg: rgba(150, 150, 150, 1);
  --third-party-todo-card-bg: rgba(255, 210, 77, 1);
  --third-party-wish-bg: rgba(167, 182, 210, 1);
  --todo-bg: rgba(95, 137, 219, 1);
  --wish-bg: rgba(138, 172, 238, 1);
  --cancel-btn: rgba(117, 117, 117, 1);
  --cancel-btn-hover: rgba(117, 117, 117, 0.8);
  --delete-btn: rgba(123, 41, 41, 1);
  --delete-btn-hover: rgba(123, 41, 41, 0.8);
  --disable-btn: rgba(141, 125, 125, 1);
  --disable-btn-hover: rgba(141, 125, 125, 0.8);
  --edit-btn: rgba(37, 67, 225, 1);
  --edit-btn-hover: rgba(37, 67, 225, 0.8);
  --resa-btn: rgb(66, 179, 104);
  --resa-btn-hover: rgba(66, 179, 104, 0.8);
  --valid-btn: rgba(89, 230, 60, 1);
  --valid-btn-hover: rgba(61, 156, 41, 0.8);
  --way-btn: rgba(213, 190, 3, 1);
  --way-btn-hover: rgba(213, 190, 3, 0.8);
  --view-btn: rgba(238, 214, 33, 1);
  --view-btn-hover: rgba(213, 188, 3, 0.8);
  --border: rgba(0, 0, 0, 1);
  --form-bg: rgba(255, 241, 198, 1);
  --mandatory: rgba(225, 31, 31, 0.7);
  --select: rgba(255, 255, 255, 1);
  --dialog-bg: rgba(238, 234, 13, 1);
  --dialog-bg-valid: rgba(89, 230, 60, 0.8);
  --dialog-bg-errors: rgba(225, 31, 31, 0.9);
  --disable-star: rgba(141, 125, 125, 1);
  --star: rgba(255, 0, 0, 0.6);
  --third-party-star: rgba(255, 0, 0, 0.6);
}

/* *****************************************************************
    HEADER & NAVIGATION (MENU BURGER)
***************************************************************** */
header {
  background-image: url(./resources/images/pen.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: -20px 20px 0px 20px;
}
header > #mainTitle {
  cursor: pointer;
}

#hamburger-menu {
  z-index: 12;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  cursor: pointer;
  height: 26px;
  left: 20px;
  position: fixed;
  top: 31px;
  width: 26px;
  z-index: 11;
}
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
  background-color: var(--burger-btn);
  display: block;
  height: 2px;
  position: absolute;
  top: 12px;
  transition-duration: 0.25s;
  width: 100%;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  background-color: var(--burger-bg);
  box-shadow: 2px 2px 6px var(--burger-item-shadow);
  display: block;
  height: 100%;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 80px 0;
  position: fixed;
  top: 0;
  transition-duration: 0.25s;
  width: 210px;
  z-index: 10;
}
.menu__box ul {
  position: relative;
  top: 1px;
}
.menu__item {
  color: var(--text-dark);
  display: block;
  font-family: "dyslexic";
  font-size: 20px;
  font-weight: 600;
  padding: 12px 24px;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: var(--burger-item);
  color: var(--text-light);
}

h1 {
  font-style: italic;
  margin-top: 35px;
  text-align: right;
  text-transform: uppercase;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

/* *****************************************************************
    GENERALE
***************************************************************** */
body {
  background-image: url(./resources/images/paper.webp);
  background-size: 100%;
  border-width: 0px 15px;
  border-style: solid;
  border-color: var(--border-color);
  font-family: "dyslexic";
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
  text-align: center;
}

#headListsSection {
  margin: 20px;
  padding-top: 3px;
}

h3, h4 {
  margin: 10px auto;
}

.login, .register {
  display: flex;
  flex-direction: column;
}

a {
  color: var(--text-dark);
  margin-top: 10px;
}
a.active {
  background-color: var(--burger-item);
  color: var(--text-light);
}
a.cardLink {
  color: var(--burger-item);
}

p > a {
  color: var(--text-link);
}

.hidden {
  display: none;
}

small {
  display: block;
  margin: 0 auto;
}

/* *****************************************************************
    DIALOG
***************************************************************** */
dialog {
  background: var(--dialog-bg);
  border-radius: 10px;
  font-size: 10px;
  position: absolute;
  height: auto;
  top: 55px;
  width: 250px;
  z-index: 30;
}
dialog.valid {
  background: var(--dialog-bg-valid);
}
dialog.valid > h2 {
  margin: 0px auto;
}
dialog.valid > div {
  padding-top: 10px;
}
dialog.register {
  padding: 10px 0px;
}
dialog.register > h2 {
  margin: 0px auto;
}
dialog.login > h2 {
  margin: -10px auto;
}
dialog.errors {
  background: var(--dialog-bg-errors);
}
dialog.errors > h2 {
  margin: 0px auto;
}
dialog.errors > div {
  padding-top: 10px;
}
dialog.errors_fields {
  background: var(--dialog-bg-errors);
}
dialog.errors_fields > h2 {
  margin-top: 5px;
}

/* *****************************************************************
    POPIN
***************************************************************** */
.popIn {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid transparent;
  height: 100vh;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  padding-top: 10vh;
  display: flex;
  right: 0;
  align-content: center;
  margin: 0 auto;
}

/* *****************************************************************
    UTILISATEURS / ADMIN, LISTE & CARTE
***************************************************************** */
.grid {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(6, 1fr);
}

.grid_section {
  grid-column: 1/7;
  grid-row: 2/2;
}

.grid_typeH3 {
  grid-column: 1/6;
  grid-row: 1/2;
}

.grid_titleH3_card {
  grid-column: 2/6;
  grid-row: 1/2;
}

.grid_text_list {
  grid-column: 2/5;
  grid-row: 2/2;
}

.grid_text_card {
  grid-column: 1/7;
  grid-row: 3/3;
}
.grid_text_card.dot {
  overflow: hidden;
  text-overflow: ellipsis;
}

.grid_text_reserved {
  cursor: context-menu;
  grid-column: 1/2;
  grid-row: 1/3;
}

.grid_action_btn_list {
  grid-column: 6/7;
  grid-row: 2/2;
  width: 95px;
}

.grid_action_btn_lists {
  grid-column: 6/7;
  grid-row: 2/2;
  width: 95px;
}

.grid_edit_list,
.grid_edit_card {
  grid-column: 1/7;
  grid-row: 1/3;
}

.grid_create_card {
  grid-column: 6/6;
  grid-row: 2/2;
}

.grid_reservation_btn {
  grid-column: 1/2;
  grid-row: 1/2;
}

.grid_label_check_box {
  grid-column: 1/3;
  grid-row: 1/2;
}

.grid_stars {
  grid-column: 3/5;
  grid-row: 1/3;
}

.list {
  align-items: center;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 450px;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}
.list.wish {
  background: var(--wish-bg);
}
.list.todo {
  background: var(--todo-bg);
}
.list.todo.disabled {
  cursor: not-allowed;
}
.list.common {
  background: var(--common-bg);
}
.list.third_party_wish {
  background: var(--third-party-wish-bg);
}

#createListsDiv, #createCardDiv, #updateListDiv, .updateCardDiv, #updateReservationDiv {
  margin: 0 auto;
}

#listFormSection, #cardFormSection {
  background-color: var(--form-bg);
  border-radius: 8px;
  box-shadow: 0 0 5px var(--border);
  padding: 5px;
}

.card {
  border-radius: 10px;
  margin: 5px auto;
  max-width: 700px;
  padding: 5px;
  text-align: center;
  width: 95%;
}
.card.wish {
  align-items: center;
  background: var(--card-bg);
}
.card.third_party_todo_card {
  align-items: center;
  background: var(--third-party-todo-card-bg);
}

.pointer {
  cursor: pointer;
}

.stars {
  color: var(--star);
  cursor: pointer;
  font-size: 25px;
}

.third_party_stars {
  color: var(--third-party-star);
  font-size: 25px;
}

.disableStars {
  color: var(--disable-star);
  pointer-events: none;
  font-size: 25px;
}

.adminSection {
  padding: 1px 0;
}

.userFormSection {
  grid-column: 1/7;
  grid-row: 2/2;
  margin-top: 41px;
}

#createUser {
  margin: 6px 0 30px 0;
}

#sectionLists,
#contentSection {
  margin: 0 auto;
}

/* *****************************************************************
    DROPDOWN MENU
***************************************************************** */
.container {
  grid-column: 6/7;
  grid-row: 1/2;
  height: 6px;
  margin-left: 35px;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 35px;
  -webkit-transform: translate(-50%, -50%);
}

.more__menu {
  width: 145px;
}
.more__btn {
  background: none;
  border: 0 none;
  line-height: normal;
  overflow: visible;
  outline: none;
  position: fixed;
  text-align: left;
  user-select: none;
  width: 100%;
  cursor: pointer;
}
.more__btn:hover .more__dot {
  background-color: var(--burger-btn);
}
.more__btn > span, .more__btn > span::before, .more__btn > span::after {
  background-color: var(--burger-btn);
  border-radius: 50%;
  display: block;
  height: 7px;
  left: 0px;
  position: absolute;
  margin: 0 auto;
  margin-right: 1px;
  top: 0px;
  transition: background-color 0.3s;
  width: 7px;
}
.more__btn > span::before {
  content: "";
  left: -13px;
}
.more__btn > span::after {
  content: "";
  left: 13px;
}
.more__menu {
  background-color: var(--select);
  border-radius: 4px;
  float: left;
  margin-top: 12px;
  opacity: 0;
  padding: 5px 0;
  position: absolute;
  pointer-events: none;
  right: -15px;
  top: 100%;
  transform: translate(0, 15px) scale(0.95);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  -webkit-transform: translate(0, 15px) scale(0.95);
  width: 130px;
  z-index: 900;
}
.more__menu__btn {
  background: none;
  border: 0 none;
  color: var(--text-dark);
  display: block;
  font-family: "dyslexic";
  font-size: 13px;
  line-height: 18px;
  min-width: 100%;
  position: relative;
  white-space: nowrap;
}
.more__menu__caret {
  float: left;
  height: 10px;
  overflow: hidden;
  position: absolute;
  right: 6px;
  top: -9px;
  width: 18px;
}
.more__menu__caret__outer, .more__menu__caret__inner {
  display: inline-block;
  font-size: 0;
  line-height: 1;
  margin-left: -1px;
  position: absolute;
}
.more__menu__caret__outer {
  height: auto;
  left: 0;
  top: 0;
  width: auto;
}
.more__menu__caret__inner {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid var(--select);
  left: 1px;
  top: 1px;
}
.more__menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.more__menu__item {
  display: block;
  font-family: "dyslexic";
}
.more__menu__item > button:hover {
  background-color: var(--burger-item);
  color: var(--text-light);
}
.more__menu small {
  font-size: 10px;
}

.show__more__menu .more__menu {
  opacity: 1;
  pointer-events: auto;
  transform: translate(0, 0) scale(1);
  -webkit-transform: translate(0, 0) scale(1);
}
.show__more__menu .more__dot {
  background-color: #516471;
}

/* *****************************************************************
    BOUTONS
***************************************************************** */
.btn {
  border: none;
  border-radius: 10px;
  color: var(--text-dark);
  cursor: pointer;
  font-family: "dyslexic";
  font-size: 16px;
  margin: 5px auto;
  padding: 5px 10px;
  text-decoration: none;
}
.btn.form_guest {
  margin: 5px;
}
.btn:disabled {
  cursor: not-allowed;
}
.btn.view {
  background-color: var(--view-btn);
  color: var(--text-dark);
}
.btn.view::before {
  content: "👁";
}
.btn.view:hover {
  background-color: var(--view-btn-hover);
  color: var(--text-light);
}
.btn.view.admin {
  border-radius: 10px 0px 0px 10px;
}
.btn.way {
  background-color: var(--way-btn);
  margin-right: 5px;
}
.btn.way:hover {
  color: var(--text-dark);
  background-color: var(--way-btn-hover);
}
.btn.valid {
  background-color: var(--valid-btn);
  color: var(--text-dark);
}
.btn.valid:hover {
  color: var(--text-light);
  background-color: var(--valid-btn-hover);
}
.btn.delete {
  background-color: var(--delete-btn);
  color: var(--text-light);
}
.btn.delete::before {
  content: "🗑";
  margin: 0px 2px;
}
.btn.delete:hover {
  background-color: var(--delete-btn-hover);
  color: var(--text-light);
}
.btn.delete.admin {
  border-radius: 0px 10px 10px 0px;
}
.btn.delete.listBtn {
  border-radius: 0px 10px 10px 0px;
}
.btn.delete.reservation {
  background-color: var(--delete-btn);
  color: var(--text-light);
  margin-left: 5px;
}
.btn.delete.reservation:hover {
  background-color: var(--delete-btn-hover);
  color: var(--text-light);
}
.btn.edit {
  background-color: var(--edit-btn);
  color: var(--text-light);
}
.btn.edit::before {
  content: "🖊";
}
.btn.edit:hover {
  background-color: var(--edit-btn-hover);
  color: var(--text-light);
}
.btn.edit.admin {
  border-radius: 0px;
}
.btn.edit.listBtn {
  border-radius: 10px 0px 0px 10px;
}
.btn.reservation {
  background-color: var(--resa-btn);
}
.btn.reservation:hover {
  background-color: var(--resa-btn-hover);
  color: var(--text-dark);
}
.btn.cancel {
  background-color: var(--cancel-btn);
}
.btn.cancel:hover {
  background-color: var(--cancel-btn-hover);
  color: var(--text-dark);
}
.btn.disable {
  background-color: var(--disable-btn);
  cursor: not-allowed;
}
.btn.disable:hover {
  background-color: var(--disable-btn-hover);
  color: var(--text-dark);
}
.btn.disableUpdate {
  background-color: var(--disable-btn);
}
.btn.disableUpdate::before {
  content: "🖊";
}
.btn.disableUpdate:hover {
  background-color: var(--disable-btn-hover);
  color: var(--text-dark);
}
.btn.disableUpdate.listBtn {
  border-radius: 10px 0px 0px 10px;
}
.btn.disableDelete {
  background-color: var(--disable-btn);
}
.btn.disableDelete::before {
  content: "🗑";
  margin: 0px 2px;
}
.btn.disableDelete:hover {
  background-color: var(--disable-btn-hover);
  color: var(--text-dark);
}
.btn.disableDelete.listBtn {
  border-radius: 0px 10px 10px 0px;
}

/* *****************************************************************
    FORMULAIRES
***************************************************************** */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  padding: 10px 20px;
  width: 85%;
}
form#registerForm, form#loginForm, form#updateForm, form.formUpdateUser, form#formGuest {
  background-color: var(--form-bg);
  border-radius: 8px;
  box-shadow: 0 0 5px var(--border);
}
form > div {
  margin: 10px 0;
}

.formUpdateUser {
  margin-top: 32px;
}

.formGuest {
  display: inline-block;
  width: 40vh;
  grid-column: 1/7;
  grid-row: 3/3;
}

.label-radio-container {
  align-items: center;
  display: flex;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin: 5px auto;
}

select,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=submit],
textarea {
  border: 1px solid var(--border);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "dyslexic";
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  width: 100%;
}
select:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=submit]:focus,
textarea:focus {
  outline: none;
}
select:focus-visible,
input[type=text]:focus-visible,
input[type=password]:focus-visible,
input[type=email]:focus-visible,
input[type=number]:focus-visible,
input[type=submit]:focus-visible,
textarea:focus-visible {
  outline: none;
}

input[type=text].pl,
input[type=password].pl {
  padding-left: 40px;
}

textarea {
  height: 75px;
}

textarea[placeholder] {
  font-size: 14px;
}

.fieldIcon {
  background: white;
  border: 1px solid var(--border);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
}
.fieldIcon > input {
  border: none;
  border-radius: 5px 0 0 5px;
  margin: 0;
}
.fieldIcon > .icon,
.fieldIcon .closed_eye {
  display: inline-block;
}
.fieldIcon > .icon::before,
.fieldIcon .closed_eye::before {
  content: "👁";
  color: var(--burger-item);
  cursor: pointer;
  font-size: 22px;
  margin: 0 5px;
}
.fieldIcon > .icon::before {
  color: var(--burger-item);
}
.fieldIcon > .closed_eye::before {
  color: var(--third-party-wish-bg);
}

select {
  background: var(--select);
}

input[type=submit] {
  background-color: var(--valid-btn);
  color: var(--text-light);
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: var(--valid-btn-hover);
}

.mandatory {
  color: var(--mandatory);
  font-size: 16px;
}

/* *****************************************************************
    TABLEAU
***************************************************************** */
.userList {
  border-collapse: collapse;
  font-size: 80%;
  margin: 0 auto;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.userList > thead > tr {
  height: 30px;
}
.userList > tbody > tr:nth-child(odd) {
  background-color: rgba(170, 170, 170, 0.5);
}
.userList > tbody td {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* *****************************************************************
    MEDIA
***************************************************************** */
@media screen and (max-width: 619px) {
  body {
    min-height: 120vh;
  }
  .profil_name {
    display: none;
  }
  .profil_firstname {
    display: none;
  }
  .profil_role {
    display: none;
  }
  .list {
    width: 350px;
  }
  .profil_btn {
    width: 45%;
  }
  .grid_text_list {
    grid-column: 1/6;
    grid-row: 2/2;
  }
  .grid_action_btn_lists {
    grid-column: 6/7;
    grid-row: 2/2;
    width: 95px;
  }
}
@media screen and (min-width: 619px) {
  .profil_btn {
    width: 20%;
  }
  #createUser {
    margin: 25px 0 30px 0;
  }
}
@media screen and (min-width: 810px) {
  body {
    background-size: 610px;
    background-repeat: repeat-y;
    background-position: center;
    min-height: 120vh;
    width: 610px;
  }
  .btn {
    font-size: 16px;
  }
}
@media screen and (min-width: 1025px) {
  body {
    min-height: 120vh;
  }
  .menu__btn {
    display: none;
  }
  .menu__box {
    background-color: var(--burger-bg);
    box-shadow: 2px 2px 6px var(--burger-item-shadow);
    display: block;
    height: 100%;
    left: 0%;
    list-style: none;
    margin: 0;
    padding: 80px 0;
    position: fixed;
    top: 0;
    transition-duration: 0.25s;
    width: 203px;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: var(--text-dark);
    font-family: "dyslexic";
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: var(--burger-item);
    color: var(--text-light);
  }
  #allListsWrapper, .listsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px;
    width: 95%;
  }
  .adminSection {
    padding: 1px 0;
  }
  #homeDisplayLists,
  #listsSection,
  #listSection,
  .profilSection {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #homeDisplayLists > article,
  #listsSection > article,
  #listSection > article,
  .profilSection > article {
    width: 600px;
  }
  #createUser {
    margin: 6px 0 30px 0;
  }
  .list {
    width: 45%;
    margin: 10px;
    border-radius: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
