/* *****************************************************************
    POLICE
***************************************************************** */
$font-family-name: "dyslexic";
$font-src: url(./resources/fonts/open-dyslexic.woff) format("woff");

@font-face {
    font-family: $font-family-name;
    src: $font-src;
}

/* *****************************************************************
    COULEURS PRINCIPALES
***************************************************************** */
:root {
    --text-dark: rgba(51, 51, 51, 1);
    --text-light: rgba(221, 221, 221, 1);
    --border-color: rgba(88, 53, 9, 1);

    // Burger
    --burger-bg: rgba(255, 241, 198, 1);
    --burger-item: rgba(121, 2, 2, 1);
    --burger-item-shadow: rgba(121, 2, 2, 0.4);
    --burger-btn: rgba(51, 51, 51, 1);

    // Listes et cartes
    --wish-bg: rgba(234, 222, 113, 1);
    --todo-bg: rgba(196, 132, 63, 1);
    --card-bg: rgba(108, 174, 124, 1);
    --common-bg: rgba(150, 150, 150, 1);
    --third-party-wish-bg: rgba(106, 143, 213, 1);
    --third-party-todo-card-bg: rgba(255, 210, 77, 1);

    // Boutons
    --way-btn: rgba(213, 190, 3, 1);
    --way-btn-hover: rgba(213, 190, 3, 1);
    --valid-btn: rgba(89, 230, 60, 1);
    --valid-btn-hover: rgba(61, 156, 41, 1);
    --cancel-btn: rgba(117, 117, 117, 1);
    --cancel-btn-hover: rgba(117, 117, 117, 1);
    --view-btn: rgba(238, 214, 33, 1);
    --view-btn-hover: rgba(213, 188, 3, 1);
    --delete-btn: rgba(189, 61, 61, 1);
    --delete-btn-hover: rgba(145, 20, 20, 1);
    --edit-btn: rgba(66, 105, 179, 1);
    --edit-btn-hover: rgba(31, 93, 213, 1);
    --disable-btn: rgba(141, 125, 125, 1);
    --disable-btn-hover: rgba(141, 125, 125, 1);
    --tooltip-light: rgba(220,220,220,1);
    --tooltip-grey: rgba(179,181,178,1);

    // Formulaire
    --form-bg: rgba(255, 241, 198, 1);
    --border: rgba(0, 0, 0, 1);
    --mandatory: rgba(225, 31, 31, 0.7);
    --select: rgba(255, 255, 255, 1);

    // Dialog
    --dialog-bg: rgba(238, 234, 13, 1);
    --dialog-bg-valid: rgba(89, 230, 60, 0.7);
    --dialog-bg-errors: rgba(225, 31, 31, 0.7);

    // Star
    --star: rgba(255, 239, 0, 1);
    --third-party-star: rgba(255, 0, 0, 0.6);
}

/* *****************************************************************
    HEADER & NAVIGATION (MENU BURGER)
***************************************************************** */
header {
    margin: -20px 20px 0px 20px;
    background-image: url(./resources/images/pen.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#hamburger-menu {
    z-index: 12;
}
#menu {
    &__toggle {
        opacity: 0;
        &:checked {
            + .menu {
                &__btn {
                    > span {
                        transform: rotate(45deg);
                        &::before {
                            top: 0;
                            transform: rotate(0deg);
                        }
                        &::after {
                            top: 0;
                            transform: rotate(90deg);
                        }
                    }
                }
            }
            ~ .menu {
                &__box {
                    left: 0 !important;
                }
            }
        }
    }
}
.menu {
    &__btn {
        position: fixed;
        top: 31px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 11;
        & > span,
        & > span::before,
        & > span::after {
            display: block;
            position: absolute;
            top: 12px;
            width: 100%;
            height: 2px;
            background-color: var(--burger-btn);
            transition-duration: 0.25s;
        }
        & > span::before {
            content: "";
            top: -8px;
        }
        & > span::after {
            content: "";
            top: 8px;
        }
    }
    &__box {
        z-index: 10;
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 210px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: var(--burger-bg);
        box-shadow: 2px 2px 6px var(--burger-item-shadow);
        transition-duration: 0.25s;
    }
    &__item {
        display: block;
        padding: 12px 24px;
        color: var(--text-dark);
        font-family: $font-family-name;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: 0.25s;
        &:hover {
            background-color: var(--burger-item);
            color: var(--text-light);
        }
    }
}
h1 {
    text-align: right;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 40px;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
    padding: 0 auto;
}

/* *****************************************************************
    GENERALE
***************************************************************** */
body {
    margin: 0 auto;
    max-width: 100%;
    min-height: 100vh;
    font-family: $font-family-name;
    text-align: center;
    background-image: url(./resources/images/paper.webp);
    background-size: 100%;
    border-width: 0px 15px;
    border-style: solid;
    border-color: var(--border-color);
}
.login, .register, #sectionLists {
    display: flex;
    flex-direction: column;
}
h3, h4 {
    margin: 10px auto;
    padding: 5px;
}
a {
    margin-top: 10px;
    color: var(--text-dark);
    &.active {
        background-color: var(--burger-item);
        color: var(--text-light);
    }
}
.hidden {
    display: none;
}

/* *****************************************************************
    DIALOG
***************************************************************** */
dialog {
    position: sticky;
    width: 50%;
    height: auto;
    border-radius: 10px;
    background: var(--dialog-bg);
    &.valid {
        background: var(--dialog-bg-valid);
    }
    &.register {
        padding: 10px 0px;
        > h2 {
            margin: 0px auto
        }
    }
    &.login {
        > h2 {
            margin: -10px auto;
        }
    }
    &.errors {
        background: var(--dialog-bg-errors);
        > h2 {
            margin: 0px auto;
            padding-top: 0px;
        }
        > div {
            padding-top:20px;
        }
        &_fields {
            background: var(--dialog-bg-errors);
            > h2 {
                margin-top: 5px;
            }
        }
    }
}

/* *****************************************************************
    UTILISATEURS / ADMIN, LISTE & CARTE
***************************************************************** */

.grid {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(5, 1fr);
}
.grid_section {
    grid-column: 1/6;
    grid-row: 2/2;
}
.grid_typeH3 {
    grid-column: 1/4;
    grid-row: 1/2;
}
.grid_text {
    grid-column: 2/5;
    grid-row: 2/2;
}
.grid_action_btn_lists {
    grid-column: 4/5;
    grid-row: 1/2;
}
.grid_edit_list {
    grid-column: 1/6;
    grid-row: 3/3;
}
.grid_create_card {
    grid-column: 5/5;
    grid-row: 2/2;
}
.grid_tooltip {
    grid-column: 5/5;
}
.list {
    align-items: center;
    max-width: 450px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    margin: 20px auto;
    padding: 5px 0;
    cursor: pointer;
    &.little {
        height: 140px;
    }
    &.wish {
        background: var(--wish-bg);
        box-shadow: 0px 0px 5px 1px var(--wish-bg);
    }
    &.todo {
        background: var(--todo-bg);
        box-shadow: 0px 0px 5px 1px var(--todo-bg);
    }
    &.common {
        background: var(--common-bg);
        box-shadow: 0px 0px 5px 1px var(--common-bg);
    }
    &.third_party_wish {
        background: var(--third-party-wish-bg);
        box-shadow: 0px 0px 5px 1px var(--third-party-wish-bg);
    }
}
.tooltip {
    z-index: 1;
    display: inline-block;
    background: radial-gradient(circle, var(--tooltip-light) 0%, var(--tooltip-grey) 100%);
	border-radius: 50%;
    width: 30px;
	height: 30px;
	line-height: 30px;
    font-weight: normal;
    font-size: 10px;
    margin: 0 auto;
    &:before {
        content:'?';
        font-weight: bold;
    }
    &:hover{
        & .tooltiptext {
        visibility: visible;
        opacity: 1;
        }
    }
    & .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: var(--text-light);
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        &::after{
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }
    }
}
small {
    display: block;
    margin: 0 auto;
}
.card {
    max-width: 700px;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    margin: 20px auto;
    padding: 5px 0;
    cursor: pointer;
    &.wish {
        background: var(--card-bg);
        box-shadow: 0px 0px 5px 1px var(--card-bg);
    }
    &.third_party_todo_card {
        background: var(--third-party-todo-card-bg);
        box-shadow: 0px 0px 5px 1px var(--third-party-todo-card-bg);
    }
}
.stars {
    font-size: 25px;
    color: var(--star);
}
.third_party_stars {
    font-size: 25px;
    color: var(--third-party-star);
}
.adminSection,
.userFormSection {
    margin-top: 35px;
}
#createUser {
    margin-top: 28px;
}
#sectionLists {
    margin: 0 auto;
}

/* *****************************************************************
    BOUTONS
***************************************************************** */
.btn {
    border: none;
    border-radius: 10px;
    color: var(--text-dark);
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px auto;
    font-family: $font-family-name;
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
    }
    &.view {
        background-color: var(--view-btn);
        color: var(--text-dark);
        &::before {
            content: "👁";
        }
        &:hover {
            background-color: var(--view-btn-hover);
            color: var(--text-light);
        }
        &.admin {
            border-radius: 10px 0px 0px 10px;
        }
    }
    &.way {
        background-color: var(--way-btn);
        margin-right: 5px;
        &:hover {
            background-color: var(--way-btn-hover);
            color: var(--text-dark);
        }
    }
    &.valid {
        background-color: var(--valid-btn);
        color: var(--text-dark);
        &:hover {
            background-color: var(--valid-btn-hover);
            color: var(--text-light);
        }
    }
    &.delete {
        background-color: var(--delete-btn);
        color: var(--text-light);
        &::before {
            content: "🗑";
        }
        &.inList {
            left: 90%
        }
        &.inCard {
            top: 19%;
            left: 85%
        }
        &:hover {
            background-color: var(--delete-btn-hover);
            color: var(--text-light);
        }
        &.admin {
            border-radius: 0px 10px 10px 0px;
            position: static;
        }
        &.listBtn {
            border-radius: 0px 10px 10px 0px;
        }
        &.static {
            position: static;
        }
    }
    &.edit {
        background-color: var(--edit-btn);
        color: var(--text-light);
        &::before {
            content: "🖉";
        }
        &:hover {
            background-color: var(--edit-btn-hover);
            color: var(--text-light);
        }
        &.admin {
            border-radius: 0px;
            position: static;
        }
        &.listBtn {
            border-radius: 10px 0px 0px 10px;
        }
        &.inCard {
            top: 19%;
            left: 77%
        }
        &.static {
            position: static;
        }
    }
    &.cancel {
        background-color: var(--cancel-btn);
        &:hover {
            background-color: var(--cancel-btn-hover);
            color: var(--text-dark);
        }
    }
    &.disable {
        background-color: var(--disable-btn);
        &:hover {
            background-color: var(--disable-btn-hover);
            color: var(--text-dark);
        }
    }
    &.disableUpdate {
        background-color: var(--disable-btn);
        &::before {
            content: "🖉";
        }
        &:hover {
            background-color: var(--disable-btn-hover);
            color: var(--text-dark);
        }
        &.listBtn {
            border-radius: 10px 0px 0px 10px;
        }
        &.inCard {
            top: 7%;
            left: 77%
        }
        &.inCardChecked {
            top: 19%;
            left: 77%;
        }
    }
    &.disableDelete {
        background-color: var(--disable-btn);
        &::before {
            content: "🗑";
        }
        &:hover {
            background-color: var(--disable-btn-hover);
            color: var(--text-dark);
        }
        &.listBtn {
            border-radius: 0px 10px 10px 0px;
        }
        &.inCard {
            top: 7%;
            left: 85%;
        }
    }
}

/* *****************************************************************
    FORMULAIRES
***************************************************************** */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--form-bg);
    width: 75%;
    padding: 10px 20px;
    margin: 0px auto;
    border-radius: 8px;
    box-shadow: 0 0 5px var(--border);
    &> div {
        margin: 10px 0;
    }
}
.formUpdateUser {
    margin-top: 32px;
}
.label-radio-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
label {
    font-weight: bold;
    margin: 10px auto;
}
select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="submit"] {
    width: 100%;
    text-align: center;
    font-family: $font-family-name;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--border);
    border-radius: 5px;
    &:focus {
        outline: none;
    }
    &:focus-visible {
        outline: none;
    }
}
input[type="text"].pl,
input[type="password"].pl {
    padding-left: 40px;
}

.fieldIcon {
    background: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid var(--border);
    border-radius: 5px;
    display: flex;
    &> input {
        border: none;
        margin: 0;
        border-radius: 5px 0 0 5px;
    }
    &>.icon,
    .closed_eye {
        display: inline-block;
        &::before {
            content: "👁";
            color: var(--burger-item);
            font-size: 22px;
            margin: 0 5px;
            cursor: pointer;
        }
    }
    &>.icon::before {
        color: var(--burger-item);
    }
    &>.closed_eye::before {
        color: var(--third-party-wish-bg);
    }
}
select {
    background: var(--select);
}
input[type="submit"] {
    background-color: var(--valid-btn);
    color: var(--text-light);
    cursor: pointer;
    &:hover {
        background-color: var(--valid-btn-hover);
    }
}
.mandatory {
    color: var(--mandatory);
    font-size:16px;
}

/* *****************************************************************
    TABLEAU
***************************************************************** */
.userList {
    width: 100%;
    table-layout: fixed;
    font-size: 80%;
    text-align: center;
    border-collapse: collapse;
    margin: 30px auto;
    & > thead {
        & > tr {
            height: 30px;
        }
    }
    & > tbody {
        & > tr {
            &:nth-child(odd) {
                background-color: #aaa;
            }
        }
        & td {
            text-overflow: ellipsis;
            overflow: hidden;
            &.profil_email {
                width: 60%;
            }
        }
    }
}

/* *****************************************************************
    MEDIA
***************************************************************** */
@media screen and (min-width: 500px) {
    header {
        background-size: 433px;
    }
}

@media screen and (min-width: 594px) {
    .list {
        width: 579px;
    }
}

@media screen and (max-width: 619px) {
    .profil {
        &_name{
            display: none;
        }
        &_firstname{
            display: none;
        }
        &_role{
            display: none;
        }
    }
    .list {
        width: 95%;
    }
}

@media screen and (min-width: 810px) {
    body{
        background-size: 610px;
        background-repeat: repeat-y;
        background-position: center;
        width: 635px;
    }
    // .profil {
    //     &_role {
    //         display: none;
    //     }
    // }
}

@media screen and (min-width: 1025px) {
    body {
        min-height: 120vh;
    }
    .menu {
        &__btn {
            display: none;
        }
        &__box {
        display: block;
        position: absolute;
        top: 0;
        left: 0%;
        width: 203px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: var(--burger-bg);
        box-shadow: 2px 2px 6px var(--burger-item-shadow);
        transition-duration: 0.25s;
        }
        &__item {
            display: block;
            padding: 12px 24px;
            color: var(--text-dark);
            font-family: $font-family-name;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            transition-duration: 0.25s;
            &:hover {
                background-color: var(--burger-item);
                color: var(--text-light);
            }
        }
    }
    #allListsWrapper, .listsWrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px;
    }
    #sectionLists {
        display: flex;
        align-items: center;
        & > article {
            width: 600px;
        }
    }
    .list {
        width: 45%;
        margin: 10px;
        border-radius: 10px;
    }
}
