@charset "UTF-8";
/* *****************************************************************
    POLICE
***************************************************************** */
@font-face {
  font-family: "dyslexic";
  src: url(./resources/fonts/open-dyslexic.woff) format("woff");
}
/* *****************************************************************
    COULEURS PRINCIPALES
***************************************************************** */
:root {
  --text-dark: rgba(51, 51, 51, 1);
  --text-light: rgba(221, 221, 221, 1);
  --border-color: rgba(88, 53, 9, 1);
  --burger-bg: rgba(255, 241, 198, 1);
  --burger-item: rgba(121, 2, 2, 1);
  --burger-item-shadow: rgba(121, 2, 2, 0.4);
  --burger-btn: rgba(51, 51, 51, 1);
  --wish-bg: rgba(138, 172, 238, 1);
  --todo-bg: rgba(95, 137, 219, 1);
  --card-bg: rgba(223, 225, 142, 1);
  --common-bg: rgba(150, 150, 150, 1);
  --third-party-wish-bg: rgba(167, 182, 210, 1);
  --third-party-todo-card-bg: rgba(255, 210, 77, 1);
  --way-btn: rgba(213, 190, 3, 1);
  --way-btn-hover: rgba(213, 190, 3, 0.8);
  --valid-btn: rgba(89, 230, 60, 1);
  --valid-btn-hover: rgba(61, 156, 41, 0.8);
  --cancel-btn: rgba(117, 117, 117, 1);
  --cancel-btn-hover: rgba(117, 117, 117, 0.8);
  --view-btn: rgba(238, 214, 33, 1);
  --view-btn-hover: rgba(213, 188, 3, 0.8);
  --delete-btn: rgba(145, 78, 78, 1);
  --delete-btn-hover: rgba(145, 20, 20, 0.8);
  --edit-btn: rgba(66, 105, 179, 1);
  --edit-btn-hover: rgba(66, 105, 179, 0.8);
  --disable-btn: rgba(141, 125, 125, 1);
  --disable-btn-hover: rgba(141, 125, 125, 0.8);
  --tooltip-light: rgba(220,220,220,1);
  --tooltip-grey: rgba(179,181,178,0.8);
  --form-bg: rgba(255, 241, 198, 1);
  --border: rgba(0, 0, 0, 1);
  --mandatory: rgba(225, 31, 31, 0.7);
  --select: rgba(255, 255, 255, 1);
  --dialog-bg: rgba(238, 234, 13, 1);
  --dialog-bg-valid: rgba(89, 230, 60, 0.7);
  --dialog-bg-errors: rgba(225, 31, 31, 0.7);
  --star: rgba(255, 0, 0, 0.6);
  --third-party-star: rgba(255, 0, 0, 0.6);
}

/* *****************************************************************
    HEADER & NAVIGATION (MENU BURGER)
***************************************************************** */
header {
  margin: -20px 20px 0px 20px;
  background-image: url(./resources/images/pen.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#hamburger-menu {
  z-index: 12;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 31px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 11;
}
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
  display: block;
  position: absolute;
  top: 12px;
  width: 100%;
  height: 2px;
  background-color: var(--burger-btn);
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  z-index: 10;
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 210px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: var(--burger-bg);
  box-shadow: 2px 2px 6px var(--burger-item-shadow);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: var(--text-dark);
  font-family: "dyslexic";
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: var(--burger-item);
  color: var(--text-light);
}

h1 {
  text-align: right;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 40px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0 auto;
}

/* *****************************************************************
    GENERALE
***************************************************************** */
body {
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
  font-family: "dyslexic";
  text-align: center;
  background-image: url(./resources/images/paper.webp);
  background-size: 100%;
  border-width: 0px 15px;
  border-style: solid;
  border-color: var(--border-color);
}

.login, .register, #sectionLists {
  display: flex;
  flex-direction: column;
}

h3, h4 {
  margin: 10px auto;
  padding: 5px;
}

a {
  margin-top: 10px;
  color: var(--text-dark);
}
a.active {
  background-color: var(--burger-item);
  color: var(--text-light);
}

.hidden {
  display: none;
}

small {
  display: block;
  margin: 0 auto;
}

/* *****************************************************************
    DIALOG
***************************************************************** */
dialog {
  position: sticky;
  width: 50%;
  height: auto;
  border-radius: 10px;
  background: var(--dialog-bg);
}
dialog.valid {
  background: var(--dialog-bg-valid);
}
dialog.register {
  padding: 10px 0px;
}
dialog.register > h2 {
  margin: 0px auto;
}
dialog.login > h2 {
  margin: -10px auto;
}
dialog.errors {
  background: var(--dialog-bg-errors);
}
dialog.errors > h2 {
  margin: 0px auto;
  padding-top: 0px;
}
dialog.errors > div {
  padding-top: 20px;
}
dialog.errors_fields {
  background: var(--dialog-bg-errors);
}
dialog.errors_fields > h2 {
  margin-top: 5px;
}

/* *****************************************************************
    TOOLTIP
***************************************************************** */
.tooltip {
  position: relative;
  z-index: 1;
  display: inline-block;
  background: radial-gradient(circle, var(--tooltip-light) 0%, var(--tooltip-grey) 100%);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  margin: 0 auto;
}
.tooltip:before {
  content: "?";
  font-weight: bold;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 115px;
  background-color: #555;
  color: var(--text-light);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 4%;
  left: 25px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 71%;
  right: 115px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

/* *****************************************************************
    UTILISATEURS / ADMIN, LISTE & CARTE
***************************************************************** */
.grid {
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(5, 1fr);
}

.grid_tooltip {
  grid-column: 5/5;
}

.grid_section_home {
  grid-column: 1/6;
  grid-row: 2/2;
}

.grid_section {
  grid-column: 1/5;
  grid-row: 2/2;
}

.grid_typeH3 {
  grid-column: 1/4;
  grid-row: 1/2;
}

.grid_titleH3 {
  grid-column: 2/5;
  grid-row: 1/2;
}

.grid_text_list {
  grid-column: 1/5;
  grid-row: 2/2;
}

.grid_text_card {
  grid-column: 2/5;
  grid-row: 2/2;
}

.grid_action_btn_lists {
  grid-column: 5/5;
  grid-row: 2/2;
}

.grid_edit_list,
.grid_edit_card {
  grid-column: 1/6;
  grid-row: 2/2;
}

.grid_create_card {
  grid-column: 4/5;
  grid-row: 1/2;
}

.grid_check_box {
  display: flex;
  grid-column: 1/1;
  grid-row: 1/1;
  margin-left: 10px;
}

.grid_stars {
  grid-column: 1/2;
  grid-row: 2/2;
  margin-left: 10px;
}

.list {
  align-items: center;
  max-width: 450px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  margin: 20px auto;
  padding: 5px 0;
  cursor: pointer;
}
.list.little {
  height: 140px;
}
.list.wish {
  background: var(--wish-bg);
}
.list.todo {
  background: var(--todo-bg);
}
.list.common {
  background: var(--common-bg);
}
.list.third_party_wish {
  background: var(--third-party-wish-bg);
}

.card {
  max-width: 700px;
  width: 90%;
  text-align: center;
  border-radius: 10px;
  margin: 5px auto;
  padding: 5px 0;
  cursor: pointer;
}
.card.wish {
  background: var(--card-bg);
  align-items: center;
}
.card.third_party_todo_card {
  background: var(--third-party-todo-card-bg);
}

.stars {
  font-size: 25px;
  color: var(--star);
}

.third_party_stars {
  font-size: 25px;
  color: var(--third-party-star);
}

.adminSection,
.userFormSection {
  margin-top: 35px;
}

#createUser {
  margin-top: 28px;
}

#sectionLists {
  margin: 0 auto;
}

/* *****************************************************************
    BOUTONS
***************************************************************** */
.btn {
  border: none;
  border-radius: 10px;
  color: var(--text-dark);
  padding: 5px 10px;
  text-decoration: none;
  font-size: 16px;
  margin: 5px auto;
  font-family: "dyslexic";
  cursor: pointer;
}
.btn:disabled {
  cursor: not-allowed;
}
.btn.view {
  background-color: var(--view-btn);
  color: var(--text-dark);
}
.btn.view::before {
  content: "👁";
}
.btn.view:hover {
  background-color: var(--view-btn-hover);
  color: var(--text-light);
}
.btn.view.admin {
  border-radius: 10px 0px 0px 10px;
}
.btn.way {
  background-color: var(--way-btn);
  margin-right: 5px;
}
.btn.way:hover {
  background-color: var(--way-btn-hover);
  color: var(--text-dark);
}
.btn.valid {
  background-color: var(--valid-btn);
  color: var(--text-dark);
}
.btn.valid:hover {
  background-color: var(--valid-btn-hover);
  color: var(--text-light);
}
.btn.delete {
  background-color: var(--delete-btn);
  color: var(--text-light);
}
.btn.delete::before {
  content: "🗑";
}
.btn.delete:hover {
  background-color: var(--delete-btn-hover);
  color: var(--text-light);
}
.btn.delete.admin {
  border-radius: 0px 10px 10px 0px;
}
.btn.delete.listBtn {
  border-radius: 0px 10px 10px 0px;
}
.btn.edit {
  background-color: var(--edit-btn);
  color: var(--text-light);
}
.btn.edit::before {
  content: "🖉";
}
.btn.edit:hover {
  background-color: var(--edit-btn-hover);
  color: var(--text-light);
}
.btn.edit.admin {
  border-radius: 0px;
}
.btn.edit.listBtn {
  border-radius: 10px 0px 0px 10px;
}
.btn.cancel {
  background-color: var(--cancel-btn);
}
.btn.cancel:hover {
  background-color: var(--cancel-btn-hover);
  color: var(--text-dark);
}
.btn.disable {
  background-color: var(--disable-btn);
}
.btn.disable:hover {
  background-color: var(--disable-btn-hover);
  color: var(--text-dark);
}
.btn.disableUpdate {
  background-color: var(--disable-btn);
}
.btn.disableUpdate::before {
  content: "🖉";
}
.btn.disableUpdate:hover {
  background-color: var(--disable-btn-hover);
  color: var(--text-dark);
}
.btn.disableUpdate.listBtn {
  border-radius: 10px 0px 0px 10px;
}
.btn.disableDelete {
  background-color: var(--disable-btn);
}
.btn.disableDelete::before {
  content: "🗑";
}
.btn.disableDelete:hover {
  background-color: var(--disable-btn-hover);
  color: var(--text-dark);
}
.btn.disableDelete.listBtn {
  border-radius: 0px 10px 10px 0px;
}

/* *****************************************************************
    FORMULAIRES
***************************************************************** */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--form-bg);
  width: 75%;
  padding: 10px 20px;
  margin: 0px auto;
  border-radius: 8px;
  box-shadow: 0 0 5px var(--border);
}
form > div {
  margin: 10px 0;
}

.formUpdateUser {
  margin-top: 32px;
}

.label-radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin: 10px auto;
}

select,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=submit] {
  width: 100%;
  text-align: center;
  font-family: "dyslexic";
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--border);
  border-radius: 5px;
}
select:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=submit]:focus {
  outline: none;
}
select:focus-visible,
input[type=text]:focus-visible,
input[type=password]:focus-visible,
input[type=email]:focus-visible,
input[type=number]:focus-visible,
input[type=submit]:focus-visible {
  outline: none;
}

input[type=text].pl,
input[type=password].pl {
  padding-left: 40px;
}

.fieldIcon {
  background: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid var(--border);
  border-radius: 5px;
  display: flex;
}
.fieldIcon > input {
  border: none;
  margin: 0;
  border-radius: 5px 0 0 5px;
}
.fieldIcon > .icon,
.fieldIcon .closed_eye {
  display: inline-block;
}
.fieldIcon > .icon::before,
.fieldIcon .closed_eye::before {
  content: "👁";
  color: var(--burger-item);
  font-size: 22px;
  margin: 0 5px;
  cursor: pointer;
}
.fieldIcon > .icon::before {
  color: var(--burger-item);
}
.fieldIcon > .closed_eye::before {
  color: var(--third-party-wish-bg);
}

select {
  background: var(--select);
}

input[type=submit] {
  background-color: var(--valid-btn);
  color: var(--text-light);
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: var(--valid-btn-hover);
}

.mandatory {
  color: var(--mandatory);
  font-size: 16px;
}

/* *****************************************************************
    TABLEAU
***************************************************************** */
.userList {
  width: 100%;
  table-layout: fixed;
  font-size: 80%;
  text-align: center;
  border-collapse: collapse;
  margin: 30px auto;
}
.userList > thead > tr {
  height: 30px;
}
.userList > tbody > tr:nth-child(odd) {
  background-color: #aaa;
}
.userList > tbody td {
  text-overflow: ellipsis;
  overflow: hidden;
}
.userList > tbody td.profil_email {
  width: 60%;
}

/* *****************************************************************
    MEDIA
***************************************************************** */
@media screen and (min-width: 500px) {
  header {
    background-size: 433px;
  }
}
@media screen and (min-width: 594px) {
  .list {
    width: 579px;
  }
  .btn {
    font-size: 15px;
  }
}
@media screen and (min-width: 618px) {
  .btn {
    font-size: 13px;
  }
}
@media screen and (max-width: 619px) {
  .profil_name {
    display: none;
  }
  .profil_firstname {
    display: none;
  }
  .profil_role {
    display: none;
  }
  .list {
    width: 95%;
  }
}
@media screen and (min-width: 810px) {
  body {
    background-size: 610px;
    background-repeat: repeat-y;
    background-position: center;
    width: 635px;
  }
  .btn {
    font-size: 16px;
  }
}
@media screen and (min-width: 1025px) {
  body {
    min-height: 120vh;
  }
  .menu__btn {
    display: none;
  }
  .menu__box {
    display: block;
    position: absolute;
    top: 0;
    left: 0%;
    width: 203px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--burger-bg);
    box-shadow: 2px 2px 6px var(--burger-item-shadow);
    transition-duration: 0.25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: var(--text-dark);
    font-family: "dyslexic";
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: var(--burger-item);
    color: var(--text-light);
  }
  #allListsWrapper, .listsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
  }
  #sectionLists {
    display: flex;
    align-items: center;
  }
  #sectionLists > article {
    width: 600px;
  }
  .list {
    width: 45%;
    margin: 10px;
    border-radius: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
